<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires location access for key functions when in use.</string>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1Ijoic3BpenplcnAiLCJhIjoiY2xvejllMnRuMGVlNTJrdGJqeDZ2MXZjbiJ9.VgtcsoMroQ-w1adz0jXI1A</string>
</dict>
</plist>
